[submodule "myTodo"]
	path = myTodo
	url = http://github.com/captbaritone/myTodo
[submodule "vim/bundle/myTodo"]
	path = vim/bundle/myTodo
	url = http://github.com/captbaritone/myTodo
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = http://github.com/altercation/vim-colors-solarized.git
[submodule "tools/z"]
    path = tools/z
    url = http://github.com/rupa/z.git
[submodule "ssh"]
	path = ssh
	url = git@db.classicalcode.com:ssh
[submodule "vim/bundle/zencoding-vim"]
	path = vim/bundle/zencoding-vim
	url = http://github.com/mattn/zencoding-vim.git
