###########################################################################
#                             Custom snippet                              #
###########################################################################

snippet outline "Draw a border around this element for debugging"
border: 1px solid red;
endsnippet


# vim:ft=snippets:
