###########################################################################
#                             Custom snippet                              #
###########################################################################

snippet outline "Draw a border around this element for debugging"
border: ${2:1px} solid ${1:red};
endsnippet


# vim:ft=snippets:
